* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #222;
    background: #f5f7fa;
}

header {
    background: #071a35;
    padding: 20px 8%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #4da3ff;
}

.hero {
    min-height: 90vh;
    display: flex;
    align-items: center;
    padding: 60px 8%;
    background: #0b2d52;
    color: white;
}

.hero h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

.hero h2 {
    color: #4da3ff;
    margin-bottom: 20px;
}

.hero p {
    max-width: 600px;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    background: #4da3ff;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
}

section {
    padding: 70px 8%;
    text-align: center;
}

section h2 {
    font-size: 35px;
    margin-bottom: 25px;
    color: #071a35;
}

section p {
    max-width: 750px;
    margin: auto;
}

.card {
    background: white;
    padding: 25px;
    margin: 20px auto;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 3px 10px #ccc;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skills div {
    background: #071a35;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
}

footer {
    background: #071a35;
    color: white;
    text-align: center;
    padding: 25px;
}